<% if(loadContent.error) { %>
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    id="createError"
  >
    <strong>An error ocurred submitting the event creation form!</strong> The
    inputted data is incorrect.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %>
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <form method="POST" action="/admin/event/create" name="createForm">
        <h1 class="mt-4">Events</h1>
        <ol class="breadcrumb mb-4" style="display: flex">
          <li class="breadcrumb-item align-self-center">Create</li>
          <a href="admin/event" class="breadcrumb-item active align-self-center"
            >Events</a
          >
          <li style="margin-left: auto">
            <a href="/admin/event/formCreate">
              <button
                type="submit"
                class="btn btn-success"
                style="width: 150px"
              >
                Save
              </button>
            </a>
          </li>
        </ol>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <!-- col-lg-6 occupies half of the screen -->
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Name*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="name"
                        name="name"
                        placeholder="Name"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Description</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="description"
                        name="description"
                        placeholder="Description"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Type*</p>
                      <select name="type" class="form-control" required>
                        <option value="Concert">Concert</option>
                        <option value="Theater">Theater</option>
                        <option value="Festival">Festival</option>
                        <option value="Sport">Sports</option>
                        <option value="Gallery">Art Gallery</option>
                        <option value="Exhibition">Exhibition</option>
                        <option value="Apresentation">Apresentation</option>
                        <option value="Workshop">Workshop</option>
                        <option value="Religion">Religious Event</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Date*</p>
                      <input
                        type="date"
                        class="form-control input-default"
                        id="date"
                        name="date"
                        placeholder="Date"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Schedule Start</p>
                      <input
                        type="time"
                        class="form-control input-default"
                        id="start"
                        name="start"
                        placeholder="00:00"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Schedule End</p>
                      <input
                        type="time"
                        class="form-control input-default"
                        id="end"
                        name="end"
                        placeholder="00:00"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Location*</p>
                      <select
                        name="location"
                        id="location"
                        class="form-control"
                        required
                      >
                        <option selected disabled hidden>Choose here</option>
                        <% for(var i=0; i < loadContent.patrimonies.length;i++)
                        { %>
                        <option
                          value="<%= loadContent.patrimonies[i].patrimonyId%>"
                        >
                          <%= loadContent.patrimonies[i].name%>
                        </option>
                        <% }; %>
                      </select>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Classification*</p>
                      <select
                        name="classification"
                        id="classification"
                        class="form-control"
                        required
                      >
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                        <option value="NC-17">NC-17</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Seats Available*</p>
                      <input
                        type="Number"
                        class="form-control input-default"
                        id="seatsAvailable"
                        name="seatsAvailable"
                        placeholder="Seats Available"
                        minlength="1"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
        </section>
      </form>
    </div>
  </div>
</div>