<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="alertServerError"
  hidden
>
  <strong>An error ocurred deleting an event!</strong> The event wasn't removed
  or already doesn't exist.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div class="container-fluid px-4">
  <h1 class="mt-4">Events</h1>
  <ol class="breadcrumb mb-4" style="display: flex">
    <li class="breadcrumb-item align-self-center">Dashboard</li>
    <li class="breadcrumb-item active align-self-center">Events</li>
    <li style="margin-left: auto">
      <a href="/admin/event/formCreate">
        <button type="button" class="btn btn-success" style="width: 150px">
          Create
        </button>
      </a>
    </li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Event List
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Classification</th>
            <th>Finished</th>
            <th>View</th>
            <th>Edit</th>
            <th>Remove</th>
            <th>Complete</th>
          </tr>
        </thead>
        <% if(loadContent.events && loadContent.events.length>0) { %>
        <tbody>
          <% for(var i=0; i < loadContent.events.length;i++) { %>
          <tr>
            <td><%= loadContent.events[i].eventId%></td>
            <!--corrigir dados-->
            <td><%= loadContent.events[i].name%></td>
            <td><%= loadContent.events[i].type%></td>
            <td><%= loadContent.events[i].date%></td>
            <td>
              <a
                id="eventLocationShowPatrimony"
                href="/admin/patrimony/show/<%= loadContent.events[i].location %>"
                ><%= loadContent.events[i].location%></a
              >
            </td>
            <td><%= loadContent.events[i].classification%></td>
            <td><%= loadContent.events[i].finished%></td>
            <td>
              <a href="/admin/event/show/<%= loadContent.events[i].eventId%> ">
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
            <td>
              <a
                href="/admin/event/formEdit/<%= loadContent.events[i].eventId%> "
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
            <td>
              <a
                type="button"
                id="deleteLink"
                name="/admin/event/delete/<%= loadContent.events[i].eventId%> "
                onclick='deleteAction("<%= loadContent.events[i].eventId%>")'
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
            <td>
              <a
                type="button"
                id="completeLink"
                name="/admin/event/complete/<%= loadContent.events[i].eventId%> "
                <% if(!loadContent.events[i].finished) { %>
                  onclick='completeAction("<%= loadContent.events[i].eventId%>")'
                <% } %>
              >

                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
        <% } else {%>
        <div>The list is empty.</div>
        <% } %>
      </table>
      <!-- DELETE MODAL CONFIRMATION  -->
      <button
        type="button"
        id="popUpBtn"
        data-bs-toggle="modal"
        data-bs-target="#verticallyCentered"
        hidden
      >
        Pop up
      </button>

      <div
        class="modal fade"
        id="verticallyCentered"
        tabindex="-1"
        aria-labelledby="verticallyCenteredModalLabel"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="verticallyCenteredModalLabel">
                Remove event?
              </h5>
              <button
                class="btn p-1"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span class="fas fa-times fs--1"></span>
              </button>
            </div>

            <div class="modal-footer justify-content-center">
              <a class="btn btn-outline-success" id="btnToConfirm">Confirm</a>
              <button
                class="btn btn-outline-danger"
                type="button"
                id="cancelModalBtn"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END DELETE MODAL CONFIRMATION  -->
      <!-- COMPLETE MODAL CONFIMATION -->
      <button
        type="button"
        id="popUpBtn2"
        data-bs-toggle="modal"
        data-bs-target="#verticallyCentered2"
        hidden
      >
        Pop up
      </button>

      <div
        class="modal fade"
        id="verticallyCentered2"
        tabindex="-1"
        aria-labelledby="verticallyCenteredModalLabel2"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="verticallyCenteredModalLabel2">
                Complete event?
              </h5>
              <button
                class="btn p-1"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span class="fas fa-times fs--1"></span>
              </button>
            </div>

            <div class="modal-footer justify-content-center">
              <a class="btn btn-outline-success" id="btnToConfirm2">Confirm</a>
              <button
                class="btn btn-outline-danger"
                type="button"
                id="cancelModalBtn2"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END COMPLETE MODAL CONFIRMATION -->
    </div>
  </div>
</div>

<script>
  //deleteAction
  deleteAction = (elem) => {
    document.getElementById("btnToConfirm").href = elem.name;
    document.getElementById("popUpBtn").click();
  };

  hideAlert = (alert) => {
    alert.parentNode.hidden = true;
  };

  deleteAction = (eventId) => {
    console.log(eventId);
    document.getElementById("btnToConfirm").name = eventId;
    document.getElementById("popUpBtn").click();
  };

  document.getElementById("btnToConfirm").addEventListener("click", (event) => {
    let id = event.target.name;
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status == 200) {
          debugger;
          window.location.reload();
        } else {
          document.getElementById("cancelModalBtn").click();
          document.getElementById("alertServerError").hidden = false;
          window.scrollTo(0, 0);
        }
      }
    };
    xhttp.open("DELETE", `/admin/event/delete/${id}`);
    xhttp.send();
  });
  //completeAction
  completeAction = (elem) => {
    document.getElementById("btnToConfirm2").href = elem.name;
    document.getElementById("popUpBtn2").click();
  };

  hideAlert = (alert) => {
    alert.parentNode.hidden = true;
  };

  completeAction = (eventId) => {
    console.log(eventId);
    document.getElementById("btnToConfirm2").name = eventId;
    document.getElementById("popUpBtn2").click();
  };

  document
    .getElementById("btnToConfirm2")
    .addEventListener("click", (event) => {
      let id = event.target.name;
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            debugger;
            window.location.reload();
          } else {
            document.getElementById("cancelModalBtn").click();
            window.scrollTo(0, 0);
          }
        }
      };
      xhttp.open("GET", `/admin/event/complete/${id}`);
      xhttp.send();
    });
</script>
