<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the event editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container-fluid px-4">
  <form
    action="/admin/event/edit/<%= loadContent.event.eventId %>"
    method="post"
    id="editForm"
    name="editForm"
  >
    <h1 class="mt-4">Events</h1>
    <ol class="breadcrumb mb-4" style="display: flex">
      <li class="breadcrumb-item align-self-center">Edit</li>
      <a href="admin/event" class="breadcrumb-item active align-self-center"
        >Events</a
      >
      <li style="margin-left: auto">
        <button type="submit" class="btn btn-success" style="width: 150px">
          Save
        </button>
      </li>
    </ol>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12" hidden="hidden">
          <label for="eventID">EventId</label>
          <input
            type="text"
            class="form-control"
            id="eventId"
            name="eventId"
            minlength="1"
            value="<%= loadContent.event.eventId %>"
            readonly
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            minlength="3"
            value="<%= loadContent.event.name %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            value="<%= loadContent.event.description %>"
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="type">Type*</label>
          <select name="type" id="type" class="form-control" required>
            <option value="<%= loadContent.event.type%>" selected hidden>
              <%= loadContent.event.type%>
            </option>
            <option value="Concert">Concert</option>
            <option value="Theater">Theater</option>
            <option value="Festival">Festival</option>
            <option value="Sport">Sports</option>
            <option value="Gallery">Art Gallery</option>
            <option value="Exhibition">Exhibition</option>
            <option value="Apresentation">Apresentation</option>
            <option value="Workshop">Workshop</option>
            <option value="Religion">Religious Event</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="date">Date of Event*</label>
          <input
            type="date"
            class="form-control"
            id="date"
            name="date"
            value="<%= new Date(loadContent.event.date).toISOString().split('T')[0] %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="start">Schedule Start</label>
          <input
            type="time"
            class="form-control"
            id="start"
            name="start"
            value="<%= loadContent.event.schedule.start %>"
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="end">Schedule End</label>
          <input
            type="time"
            class="form-control"
            id="end"
            name="end"
            value="<%= loadContent.event.schedule.end %>"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="location">Location*</label>
          <select name="location" id="location" class="form-control" required>
            <% for(var i=0; i < loadContent.patrimonies.length;i++) { %> <%
            if((loadContent.event.location - 1) == i) { %>
            <option
              value="<%= loadContent.patrimonies[i].patrimonyId%>"
              selected
            >
              <%= loadContent.patrimonies[i].name%>
            </option>
            <% } else { %>
            <option value="<%= loadContent.patrimonies[i].patrimonyId%>">
              <%= loadContent.patrimonies[i].name%>
            </option>
            <% } %> <% } %>
          </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="classification">Classification*</label>
          <select
            name="classification"
            id="classification"
            class="form-control"
            required
          >
            <option selected disabled hidden>
              <%= loadContent.event.classification %>
            </option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
          </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="seatsAvailable">Seats Available*</label>
          <input
            type="Number"
            class="form-control"
            id="seatsAvailable"
            name="seatsAvailable"
            minlength="1"
            value="<%= loadContent.event.seatsAvailable%>"
            required
          />
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (ev) {
      ev.preventDefault(); //prevent from submit

      let formObjects = new Map();
      formObjects.set("name", document.getElementById("name").value);
      formObjects.set(
        "description",
        document.getElementById("description").value
      );
      formObjects.set("type", document.getElementById("type").value);
      formObjects.set("date", document.getElementById("date").value);
      formObjects.set("start", document.getElementById("start").value);
      formObjects.set("end", document.getElementById("end").value);
      formObjects.set("location", document.getElementById("location").value);
      formObjects.set(
        "classification",
        document.getElementById("classification").value
      );
      formObjects.set(
        "seatsAvailable",
        document.getElementById("seatsAvailable").value
      );
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            let event = JSON.parse(this.response);
            window.location.href = "/admin/event/";
          } else if (this.status == 422) {
            let response = JSON.parse(this.response);
            var str = response.errors[0].msg;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str;
            alert.removeAttribute("hidden");
          } else if (this.status == 500) {
            var str = JSON.parse(this.response).message;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str; // set the alert text to the error message
            alert.removeAttribute("hidden");
          }
        }
      };
      let administratorId = document.getElementById("eventId").value;
      xhttp.open("PUT", "/admin/event/edit/" + administratorId);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(Object.fromEntries(formObjects)));
    });
</script>
