<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" href="/admin">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Home
      </a>
      <div class="sb-sidenav-menu-heading">Administration</div>
      <a class="nav-link" href="/admin/administrator">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Staff
      </a>
      <a class="nav-link" href="/admin/point">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Points
      </a>
      <div class="sb-sidenav-menu-heading">Management</div>
      <a class="nav-link" href="/admin/patrimony">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Venues
      </a>
      <a class="nav-link" href="/admin/event">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Events
      </a>
      <a class="nav-link" href="/admin/client">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Clients
      </a>
      <div class="sb-sidenav-menu-heading">Sales</div>
      <a class="nav-link" href="/admin/ticket">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Tickets
      </a>
      <a class="nav-link" href="/admin/sale">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Register a sale
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer" id="username">
    <div class="small">Logged in as:</div>
  <div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div id="username">
  </div>
</nav>

<script>
  function getCookies(cookieName) {
    // We're going to search for the cookie name followed by a '=' and then anything that isn't a semicolon
    // Example - "name=XXX;"
    // We want to return the XXX part
    var name = cookieName + "=";

    // Get the cookies
    var decodedCookie = decodeURIComponent(document.cookie);

    // Split the cookies into an array by the semicolon - Every cookie is separated by a semicolon
    // So ca will be something like ["name=XXX", "token=XXX", "role=XXX"]
    var ca = decodedCookie.split(";");

    // Loop through the array to find the cookie we're looking for and return it's value
    for (var i = 0; i < ca.length; i++) {
      // Current cookie
      var c = ca[i];

      // Remove any whitespace in the key if there is any - Most likely won't be any but just in case
      // Example - " name=XXX" becomes "name=XXX"
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }

      // If the cookie name is found, indexOf will return 0
      // Example - c.indexOf("name") will return 0 but c.indexOf("token") will return -1
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }

    // If the cookie isn't found, return an empty string
    return "";
  }

  let username = getCookies("name");
  if (username != "") {
    document.getElementById("username").innerHTML =
      "<div class='small'>Logged in as: " + username + "</div>";
  }
</script>