<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Tickets</h1>
      <ol class="breadcrumb mb-4" style="display: flex">
        <li class="breadcrumb-item align-self-center">View</li>
        <a href="admin/ticket" class="breadcrumb-item active align-self-center"
          >Tickets</a
        >
        <li style="margin-left: auto">
          <a href="/admin/ticket/formCreate">
            <button type="button" class="btn btn-success" style="width: 150px">
              Create Sale
            </button>
          </a>
        </li>
      </ol>

      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Event</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              minlength="3"
              value="<%= loadContent.ticket.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="date">Date</label>
            <input
              type="text"
              class="form-control"
              id="date"
              name="date"
              value="<%= loadContent.ticket.date %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="hour">Hour</label>
            <input
              type="time"
              class="form-control"
              id="hour"
              name="hour"
              value="<%= loadContent.ticket.hour %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="row">Row</label>
            <input
              type="text"
              class="form-control"
              id="row"
              name="row"
              value="<%= loadContent.ticket.eventSeat.row %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="seat">Seat</label>
            <input
              type="text"
              class="form-control"
              id="seat"
              name="seat"
              value="<%= loadContent.ticket.eventSeat.seat %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-2 col-sm-12">
            <label for="type">Type</label>
            <input
              type="text"
              class="form-control"
              id="type"
              name="type"
              value="<%= loadContent.ticket.type %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-2 col-sm-12">
            <label for="price">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              value="<%= loadContent.ticket.price %>"
              readonly
            />
          </div>
        </div>
        <div class="row" style="justify-content: center">
          <div class="form-group col-3">
            <label for="image"></label>
            <img
              src="<%= loadContent.ticket.image.publicPath %>"
              alt="Ticket Image"
              class="img-thumbnail"
              width="100%"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
