<% if(loadContent.error) { %>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
>
  <strong>An error ocurred submitting the point system creation form!</strong>
  The inputted data is incorrect.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>

<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Points</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Add Loyalty Program</li>
    </ol>

    <div class="container p-4 shadow-sm p-1 mb-5 rounded">
      <form class="row g-3" action="/admin/point/create" method="POST">
        <div class="col-md-6">
          <label for="forEach">Points earned for every € spent</label>
          <input
            type="number"
            class="form-control"
            id="earnedPointsForEachEuro"
            name="earnedPointsForEachEuro"
            min="0"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="forEach">Discount for every 100 points (€)</label>
          <input
            type="number"
            class="form-control"
            id="discountForEach100Points"
            name="discountForEach100Points"
            min="0"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="earnedPointsInfantil">
            Points earned for every ticket the customer buys</label
          >
          <input
            type="number"
            class="form-control"
            id="earnedPointsForEachPurchaseUsedBook"
            name="earnedPointsForEachPurchaseUsedBook"
            min="0"
            required
          />
        </div>

        <h4>Points earned according to the type of ticket purchased</h4>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Points earned</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Vip Ticket:</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="vipTicket"
                  name="vipTicket"
                  min="0"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Normal Ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="normalTicket"
                  name="normalTicket"
                  min="0"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Family ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="familyTicket"
                  name="familyTicket"
                  min="0"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Children Ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="childrenTicket"
                  name="childrenTicket"
                  min="0"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">To Add</button>
      </form>
    </div>
  </div>
</main>
