<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="alertServerError"
  hidden
>
  <strong>An error ocurred deleting the points program!</strong> The program wasn't removed or already doesn't exist.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Points</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Customer Loyalty Management</li>
    </ol>
    <% if(loadContent.doesntExist) { %>
    <a href="/admin/point/formCreate">
      <button class="btn btn-outline-success me-1 mb-1 col-md-12" type="button">
        Create points program
      </button>
    </a>
    <div class="text-center p-3">
      <h4>There is no defined points program</h4>
    </div>
    <% } else {%>

    <a href="/admin/point/formEdit/<%= loadContent.points.id %>">
      <button class="btn btn-outline-success me-1 mb-1 col-md-12" type="button">
        Edit points program
      </button>
    </a>

    <div class="row container justify-content-center border m-auto mt-3 mb-3">
      <div class="row m-l-0 m-r-0">
        <div class="col-lg-12 col-md-12 mt-4 mb-4">
          <div class="card-block p-1">
            <div class="row">
              <div class="row pb-2">
                <div class="col-lg-6 col-md-16">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Points earned for every €1 spent
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.earnedPointsForEachEuro %>
                  </h6>
                </div>
                <div class="col-lg-6 col-md-16">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Discount in € for each 100 points
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.discountForEach100Points %>
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-16">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Points earned for each ticket that the customer buys
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.earnedPointsForEachPurchaseTicket %>
                  </h6>
                </div>
              </div>
            </div>

            <hr class="dashed" />

            <h4 class="pb-4">
              Points earned according to the type of ticket purchased
            </h4>
            <div class="row mt-1">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Vip Ticket:
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.vipTicket %>
                  </h6>
                </div>
                <div class="col-lg-6 col-md-12">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Normal Ticket
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.normalTicket %>
                  </h6>
                </div>
              </div>
            </div>

            <hr class="dashed" />

            <div class="row">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Family Ticket
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.familyTicket %>
                  </h6>
                </div>
                <div class="col-lg-6 col-md-12">
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Children Ticket
                  </h6>
                  <h6 class="text-muted f-w-400">
                    <%= loadContent.points.childrenTicket %>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="btn btn-outline-danger me-1 mb-1 col-md-12"
      id="deleteLink"
      type="button"
      name="/admin/point/delete/<%=loadContent.points.id%> "
      onclick='deleteAction("<%=loadContent.points.id%>")'
      data-bs-toggle="modal"
      data-bs-target="#verticallyCentered"
      style="color: #dc3545"
    >
      Delete points program
    </a>

    <div
      class="modal fade"
      id="verticallyCentered"
      tabindex="-1"
      aria-labelledby="verticallyCenteredModalLabel"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verticallyCenteredModalLabel">
              Delete points program
            </h5>
            <button
              class="btn p-1"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span class="fas fa-times fs--1"></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to delete the current points program?</p>
            <div class="modal-footer">
              <a
                class="btn btn-outline-success"
                id="btnToConfirm"
                style="color: #28a745"
              >
                Remove
              </a>
              <button
                class="btn btn-outline-danger"
                type="button"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }%>
  </div>
</main>

<script>
  deleteAction = (elem) => {
    document.getElementById("btnToConfirm").href = elem.name;
    document.getElementById("popUpBtn").click();
  };

  hideAlert = (alert) => {
    alert.parentNode.hidden = true;
  };

  deleteAction = (id) => {
    document.getElementById("btnToConfirm").name = id;
    document.getElementById("popUpBtn").click();
  };

  document.getElementById("btnToConfirm").addEventListener("click", (event) => {
    let id = event.target.name;
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status == 200) {
          debugger;
          window.location.reload();
        } else {
          document.getElementById("cancelModalBtn").click();
          document.getElementById("alertServerError").hidden = false;
          window.scrollTo(0, 0);
        }
      }
    };
    let url = "/admin/point/delete/" + id;
    xhttp.open("DELETE", url);
    xhttp.send();
  });
</script>
