<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the ticket editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Points</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Edit Loyalty Program</li>
    </ol>

    <div class="container p-4 shadow-sm p-1 mb-5 rounded">
      <form
        class="row g-3"
        action="/admin/point/edit/<%=loadContent.points._id%>"
        method="POST"
        id="editForm"
      >
        <div class="col-md-6">
          <label for="forEach">Points earned for every € spent</label>
          <input
            type="number"
            class="form-control"
            id="earnedPointsForEachEuro"
            name="earnedPointsForEachEuro"
            min="0"
            value="<%= loadContent.points.earnedPointsForEachEuro %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="forEach">Discount for every 100 points (€)</label>
          <input
            type="number"
            class="form-control"
            id="discountForEach100Points"
            name="discountForEach100Points"
            min="0"
            value="<%= loadContent.points.discountForEach100Points %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="earnedPointsInfantil"
            >Points earned for every ticket the customer buys</label
          >
          <input
            type="number"
            class="form-control"
            id="earnedPointsForEachPurchaseTicket"
            name="earnedPointsForEachPurchaseTicket"
            value="<%= loadContent.points.earnedPointsForEachPurchaseTicket %>"
            min="0"
            required
          />
        </div>

        <h4>Points earned according to the type of ticket purchased</h4>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Points earned</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Vip Ticket:</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="vipTicket"
                  name="vipTicket"
                  min="0"
                  value="<%= loadContent.points.vipTicket %>"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Normal Ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="normalTicket"
                  name="normalTicket"
                  min="0"
                  value="<%= loadContent.points.normalTicket %>"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Family ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="familyTicket"
                  name="familyTicket"
                  min="0"
                  value="<%= loadContent.points.familyTicket %>"
                  required
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Children Ticket</th>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="childrenTicket"
                  name="childrenTicket"
                  min="0"
                  value="<%= loadContent.points.childrenTicket %>"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
  </div>
</main>

<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      let formObject = new Map();
      formObject.set(
        "earnedPointsForEachEuro",
        document.getElementById("earnedPointsForEachEuro").value
      );
      formObject.set(
        "discountForEach100Points",
        document.getElementById("discountForEach100Points").value
      );
      formObject.set(
        "earnedPointsForEachPurchaseTicket",
        document.getElementById("earnedPointsForEachPurchaseTicket").value
      );
      formObject.set("vipTicket", document.getElementById("vipTicket").value);
      formObject.set(
        "normalTicket",
        document.getElementById("normalTicket").value
      );
      formObject.set(
        "familyTicket",
        document.getElementById("familyTicket").value
      );
      formObject.set(
        "childrenTicket",
        document.getElementById("childrenTicket").value
      );

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          window.location.href = "/admin/point";
        } else if (this.readyState == 4 && this.status == 422) {
          let response = JSON.parse(this.response);
          var str = response.errors[0].msg;
          let alert = document.getElementById("editError");
          let alertText = document.getElementById("editText");
          alertText.innerText = str;
          alert.removeAttribute("hidden");
        } else if (this.readyState == 4 && this.status == 500) {
          var str = JSON.parse(this.response).message;
          let alert = document.getElementById("editError");
          let alertText = document.getElementById("editText");
          alertText.innerText = str; // set the alert text to the error message
          alert.removeAttribute("hidden");
        }
      };

      let url = "/admin/point/edit/<%=loadContent.points._id%>";
      xhttp.open("PUT", url);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(Object.fromEntries(formObject)));
    });
</script>
