<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body style="background-color: grey">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5" style="margin-top: 100px">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Cultuga</h3>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <a href="/admin" style="margin: auto"
                        ><button
                          class="btn btn-dark"
                          style="
                            text-align: center;
                            margin: auto;
                            height: 50px;
                            width: 250px;
                          "
                        >
                          Back Office
                        </button>
                      </a>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <a href="http://localhost:4200/" style="margin: auto">
                        <button
                          class="btn btn-dark"
                          style="
                            text-align: center;
                            margin: auto;
                            height: 50px;
                            width: 250px;
                            margin-bottom: 20px;
                          "
                        >
                          Front Office
                        </button></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
