<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body class="bg-primary">
    <% if(error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>An error ocurred trying to login!</strong> The inputted email
      and/or password don't correspond to any employee record.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <% } %>
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <a href="/"
                  ><h1
                    class="text-center"
                    style="margin-top: 40px; color: white"
                  >
                    Cultuga
                  </h1></a
                >
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Login</h3>
                  </div>
                  <div class="card-body">
                    <form action="/admin/login" method="POST">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="inputEmail"
                          name="email"
                          type="email"
                          placeholder="name@example.com"
                        />
                        <label for="inputEmail">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="inputPassword"
                          name="password"
                          type="password"
                          placeholder="Password"
                        />
                        <label for="inputPassword">Password</label>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between mt-4 mb-0"
                      >
                        <button
                          class="btn btn-primary"
                          type="submit"
                          style="text-align: center; margin: auto"
                        >
                          Login
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <%- include('partials/endPage.ejs'); %>
  </body>
</html>
