<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the patrimony editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container-fluid px-4">
  <form
    action="/admin/patrimony/edit/<%= loadContent.patrimony.patrimonyId %>"
    method="post"
    name="editForm"
    enctype="multipart/form-data"
  >
    <h1 class="mt-4">Venues</h1>
    <ol class="breadcrumb mb-4" style="display: flex">
      <li class="breadcrumb-item align-self-center">Edit</li>
      <a href="admin/patrimony" class="breadcrumb-item active align-self-center"
        >Venues</a
      >
      <li style="margin-left: auto">
        <button type="submit" class="btn btn-success" style="width: 150px">
          Save
        </button>
      </li>
    </ol>
    <div class="form-group col-4" style="display: none">
      <label for="patrimonyId">ID</label>
      <input
        type="patrimonyId"
        class="form-control"
        id="patrimonyId"
        name="patrimonyId"
        value="<%= loadContent.patrimony.patrimonyId %>"
        readonly
      />
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            minlength="3"
            value="<%= loadContent.patrimony.name %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="type">Type*</label>
          <select class="form-control" id="type" name="type" required>
            <option value="<%= loadContent.patrimony.type %>" selected hidden>
              <%= loadContent.patrimony.type %>
            </option>
            <!-- NO HARD-CODE, ficheiro de config ou base de dados-->
            <option value="Art gallery">Art gallery</option>
            <option value="Bar/Nightclub">Bar/Nightclub</option>
            <option value="Brewery/Winery">Brewery/Winery</option>
            <option value="College/University">College/University</option>
            <option value="Community center">Community center</option>
            <option value="Convention center">Convention center</option>
            <option value="Conference center">Conference center</option>
            <option value="Cruise ship">Cruise ship</option>
            <option value="Historical/Cultural estate">
              Historical/Cultural estate
            </option>
            <option value="Hotel">Hotel</option>
            <option value="Museum/Aquarium/Zoo">Museum/Aquarium/Zoo</option>
            <option value="Resort">Resort</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Retreat center">Retreat center</option>
            <option value="Social club/Lounge">Social club/Lounge</option>
            <option value="Stadium">Stadium</option>
            <option value="Theater">Theater</option>
          </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="latitude">Latitude</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            name="latitude"
            minlength="3"
            value="<%= loadContent.patrimony.location.latitude %>"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="city">City*</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            minlength="3"
            value="<%= loadContent.patrimony.location.city %>"
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="district">District</label>
          <input
            type="text"
            class="form-control"
            id="district"
            name="district"
            minlength="3"
            value="<%= loadContent.patrimony.location.district %>"
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="longitude">Longitude</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            name="longitude"
            minlength="3"
            value="<%= loadContent.patrimony.location.longitude %>"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="image">Image*</label>
          <input
            type="file"
            class="form-control"
            id="image"
            name="image"
            placeholder="Selected file: <%= loadContent.patrimony.image.publicPath %>"
          />
        </div>
      </div>
    </div>
  </form>
</div>
<% if(loadContent.error) { %>
<script>
  let alert = document.getElementById("editError");
  alert.removeAttribute("hidden");
</script>

<% } %>

<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (ev) {
      ev.preventDefault(); //prevent from submit

      let formData = new FormData();

      formData.append("name", document.getElementById("name").value);
      formData.append("type", document.getElementById("type").value);
      formData.append("latitude", document.getElementById("latitude").value);
      formData.append("city", document.getElementById("city").value);
      formData.append("district", document.getElementById("district").value);
      formData.append("longitude", document.getElementById("longitude").value);
      formData.append("image", document.getElementById("image").files[0]);

      //console.log(formData);

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            let patrimony = JSON.parse(this.response);
            window.location.href = "/admin/patrimony/";
          } else if (this.status == 422) {
            let response = JSON.parse(this.response);
            var str = response.errors[0].msg;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str;
            alert.removeAttribute("hidden");
          } else if (this.status == 500) {
            var str = JSON.parse(this.response).message;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str; // set the alert text to the error message
            alert.removeAttribute("hidden");
          }
        }
      };
      let patrimonyId = document.getElementById("patrimonyId").value;
      xhttp.open("PUT", "/admin/patrimony/edit/" + patrimonyId);
      xhttp.setRequestHeader("enctype", "multipart/form-data");
      xhttp.send(formData);
    });
</script>
