<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the staff editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container-fluid px-4">
  <form
    action="/admin/administrator/edit/<%= loadContent.administrator.administratorId %>"
    method="post"
    id="editForm"
    name="editForm"
  >
    <h1 class="mt-4">Staff</h1>
    <ol class="breadcrumb mb-4" style="display: flex">
      <li class="breadcrumb-item align-self-center">Edit</li>
      <a
        href="admin/administrator"
        class="breadcrumb-item active align-self-center"
        >Staff</a
      >
      <li style="margin-left: auto">
        <button type="submit" class="btn btn-success" style="width: 150px">
          Save
        </button>
      </li>
    </ol>
    <div class="form-group col-4" style="display: none">
      <label for="administratorId">ID</label>
      <input
        type="administratorId"
        class="form-control"
        id="administratorId"
        name="administratorId"
        value="<%= loadContent.administrator.administratorId %>"
        readonly
      />
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= loadContent.administrator.name %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option
              selected
              hidden
              value="<%= loadContent.administrator.gender %>"
            >
              <%= loadContent.administrator.gender === 'M' ? 'Male' :
              (loadContent.administrator.gender === 'F' ? 'Female' :
              (loadContent.administrator.gender === 'O' ? 'Other' : '')) %>
            </option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="dob">DOB</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            name="dob"
            minlength="3"
            value="<%= loadContent.administrator.dob %>"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="cellPhone">Telephone</label>
          <input
            type="text"
            class="form-control"
            id="cellPhone"
            name="cellPhone"
            value="<%= loadContent.administrator.cellPhone %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            value="<%= loadContent.administrator.email %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="administratorType">Type</label>
          <select
            class="form-control"
            id="administratorType"
            name="administratorType"
            required
          >
            <option selected>
              <%= loadContent.administrator.administratorType %>
            </option>
            <option>Manager</option>
            <option>Administrator</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="street">Street</label>
          <input
            type="text"
            class="form-control"
            id="street"
            name="street"
            value="<%= loadContent.administrator.street %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            value="<%= loadContent.administrator.city %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            id="postalCode"
            name="postalCode"
            value="<%= loadContent.administrator.postalCode %>"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            name="password"
            label="Password"
            required
          />
        </div>
      </div>
    </div>
  </form>
</div>
<% if(loadContent.error) { %>
<script>
  let alert = document.getElementById("editError");
  alert.removeAttribute("hidden");
</script>

<% } %>
<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (ev) {
      ev.preventDefault(); //prevent from submit

      let formObjects = new Map();
      formObjects.set("name", document.getElementById("name").value);
      formObjects.set("gender", document.getElementById("gender").value);
      formObjects.set("dob", document.getElementById("dob").value);
      formObjects.set("cellPhone", document.getElementById("cellPhone").value);
      formObjects.set("email", document.getElementById("email").value);
      formObjects.set(
        "administratorType",
        document.getElementById("administratorType").value
      );
      formObjects.set("street", document.getElementById("street").value);
      formObjects.set("city", document.getElementById("city").value);
      formObjects.set(
        "postalCode",
        document.getElementById("postalCode").value
      );
      formObjects.set("password", document.getElementById("password").value);

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            let administrator = JSON.parse(this.response);
            window.location.href = "/admin/administrator/";
          } else if (this.status == 422) {
            let response = JSON.parse(this.response);
            var str = response.errors[0].msg;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str;
            alert.removeAttribute("hidden");
          } else if (this.status == 500) {
            var str = JSON.parse(this.response).message;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str; // set the alert text to the error message
            alert.removeAttribute("hidden");
          }
        }
      };

      let administratorId = document.getElementById("administratorId").value;
      xhttp.open("PUT", "/admin/administrator/edit/" + administratorId);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(Object.fromEntries(formObjects)));
    });
</script>
