<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Staff</h1>
      <ol class="breadcrumb mb-4" style="display: flex; height: 62px">
        <li class="breadcrumb-item align-self-center">View</li>
        <a
          href="admin/administrator"
          class="breadcrumb-item active align-self-center"
          >Staff</a
        >
        
      </ol>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%= loadContent.administrator.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="gender">Gender</label>
            <input
              type="text"
              class="form-control"
              id="gender"
              name="gender"
              value="<%= loadContent.administrator.gender %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="dob">DOB</label>
            <input
              type="text"
              class="form-control"
              id="dob"
              name="dob"
              minlength="3"
              value="<%= loadContent.administrator.dob %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="cellPhone">Telephone</label>
            <input
              type="text"
              class="form-control"
              id="cellPhone"
              name="cellPhone"
              value="<%= loadContent.administrator.cellPhone %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value="<%= loadContent.administrator.email %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="administratorType">Type</label>
            <input
              type="text"
              class="form-control"
              id="administratorType"
              name="administratorType"
              value="<%= loadContent.administrator.administratorType%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="street">Street</label>
            <input
              type="text"
              class="form-control"
              id="street"
              name="street"
              value="<%= loadContent.administrator.street %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              name="city"
              value="<%= loadContent.administrator.city %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="postalCode">Postal Code</label>
            <input
              type="text"
              class="form-control"
              id="postalCode"
              name="postalCode"
              value="<%= loadContent.administrator.postalCode %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12" style="display: none">
            <label for="password">Password</label>
            <input
              type="text"
              class="form-control"
              id="password"
              name="password"
              value="<%= loadContent.administrator.password%>"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
