<div class="container-fluid px-4">
  <h1 class="mt-4">Sales</h1>
  <ol class="breadcrumb mb-4" style="display: flex">
    <li class="breadcrumb-item align-self-center">Dashboard</li>
    <li class="breadcrumb-item active align-self-center">Sales</li>
    <li style="margin-left: auto">
      <a href="/admin/sale/formCreate">
        <button type="button" class="btn btn-success" style="width: 150px">
          Create
        </button>
      </a>
    </li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Sales List
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Id</th>
            <th>NIF</th>
            <th>Earnings</th>
            <th>Amount</th>
            <th>Date</th>
            <th>View</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>NIF</th>
            <th>Earnings</th>
            <th>Amount</th>
            <th>Date</th>
            <th>View</th>
          </tr>
        </tfoot>
        <% if(loadContent.sales && loadContent.sales.length>0) { %>
        <tbody>
          <% for(var i=0; i < loadContent.sales.length;i++) { %>
          <tr>
            <td><%= loadContent.sales[i].salesId%></td>
            <td><%= loadContent.sales[i].client.nif%></td>
            <td><%= loadContent.sales[i].totalValueWithDiscount%> €</td>
            <td><%= loadContent.sales[i].totalTicketsBought%></td>
            <td><%= loadContent.sales[i].date%></td>
            <td>
              <a href="/admin/sale/show/<%= loadContent.sales[i].salesId%> ">
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
        <% } else {%>
        <div>The list is empty.</div>
        <% } %>
      </table>
    </div>
  </div>
</div>
