<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Sales</h1>
      <ol class="breadcrumb mb-4" style="display: flex">
        <li class="breadcrumb-item align-self-center">View</li>
        <a href="admin/sale" class="breadcrumb-item active align-self-center"
          >Sales</a
        >
        <li style="margin-left: auto">
          <a href="/admin/sale/formCreate">
            <button type="button" class="btn btn-success" style="width: 150px">
              Create Sale
            </button>
          </a>
        </li>
      </ol>
      <div class="card-body">
        <!--Sale-->
        <div class="row">
          <h3>Sale</h3>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="salesId">Identification</label>
            <input
              type="text"
              class="form-control"
              id="salesId"
              name="salesId"
              value="<%= loadContent.sale.salesId %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="totalTicketsBought">Total tickets bought</label>
            <input
              type="text"
              class="form-control"
              id="totalTicketsBought"
              name="totalTicketsBought"
              value="<%= loadContent.sale.totalTicketsBought %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="totalValue">Total Value</label>
            <input
              type="text"
              class="form-control"
              id="totalValue"
              name="totalValue"
              value="<%= loadContent.sale.totalValue %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="pointsToDiscount">Points To Discount</label>
            <input
              type="text"
              class="form-control"
              id="pointsToDiscount"
              name="pointsToDiscount"
              value="<%= loadContent.sale.pointsToDiscount %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="totalValueWithDiscount"
              >Total Value With Discount</label
            >
            <input
              type="text"
              class="form-control"
              id="totalValueWithDiscount"
              name="totalValueWithDiscount"
              value="<%= loadContent.sale.totalValueWithDiscount %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="discountValuePer100Points"
              >Discount Value Per 100 Points</label
            >
            <input
              type="text"
              class="form-control"
              id="discountValuePer100Points"
              name="discountValuePer100Points"
              value="<%= loadContent.sale.discountValuePer100Points %>"
              readonly
            />
          </div>
        </div>
        <hr />
        <!--Client-->
        <div class="row">
          <h3>Client</h3>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%= loadContent.sale.client.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-8 col-sm-12">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value="<%= loadContent.sale.client.email %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="nif">NIF</label>
            <input
              type="text"
              class="form-control"
              id="nif"
              name="nif"
              value="<%= loadContent.sale.client.nif %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="cellPhone">Telephone</label>
            <input
              type="text"
              class="form-control"
              id="cellPhone"
              name="cellPhone"
              value="<%= loadContent.sale.client.cellPhone %>"
              readonly
            />
          </div>

          <div class="form-group col-lg-4 col-sm-12">
            <label for="pointsBeforeSale">Points before sale</label>
            <input
              type="text"
              class="form-control"
              id="pointsBeforeSale"
              name="pointsBeforeSale"
              value="<%= loadContent.sale.client.pointsBeforeSale %>"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
